.Home {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/705/240/non_2x/background-of-dog-paw-prints-vector.jpg);
    background-size: 40% cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    /* background-position-y: bottom; */
    background-repeat: no-repeat;
}

.ContainerFunctions {
    display: inline;
}

.ContainerFunctions h1{
    display: inline;
}

.LineOne {
    display: flex;
    justify-items: center;
    /* justify-content: center; */
  }
  .eachOne {
    padding: 10px;
    margin: 10px;
    align-items: center;
    /* background-color: yellow; */
  }
  /* ESTILOS PARA EL LOADING : https://uiverse.io/detail/Z-C-Code/grumpy-stingray-26
/* ------------------------INIT BUTTON RELOAD ----------------------------- */
/* ESTILOS DESDE: https://uiverse.io/detail/menezes11/afraid-lizard-67
/* From uiverse.io by @menezes11 */
.buttonReload {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#03a9f4,f441a5);
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   .buttonReload:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   .buttonReload span {
    position: absolute;
   }
   
   .buttonReload span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   .buttonReload:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .buttonReload span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .buttonReload:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .buttonReload span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .buttonReload:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .buttonReload span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .buttonReload:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .buttonReload:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .buttonReload:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   /* ------------------------END BUTTON RELOAD ----------------------------- */

   /* ------------------------INIT BUTTON CREATE ----------------------------- */
   /* ESTILOS DESDE: https://uiverse.io/detail/kirzin/selfish-kangaroo-64
/* From uiverse.io by @kirzin */
.buttonCreate {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   .buttonCreate:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .buttonCreate:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   .buttonCreate:hover::before {
    filter: blur(20px);
   }
   
   .buttonCreate:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }
   /* ------------------------END BUTTON CREATE ----------------------------- */
   
   /* ------------------------INIT SEARCH BAR ----------------------------- */
   /* ESTILOS DESDE: https://uiverse.io/detail/alexruix/slippery-frog-10
   /* From uiverse.io by @alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}
   
.input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
/* ------------------------END SEARCH BAR----------------------------- */
   