.landingPage {
    background-image: url(https://i.pinimg.com/564x/ed/18/d9/ed18d9a0eb89b3fa6364d98eed1c4ab2.jpg);
    background-size: 40% cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.Card {
    background: rgba(249, 222, 201, .6);
    border-width: 2px;
    border-color: rgb(81, 63, 49);
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    color: black;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}

.title {
    font-family: 'Nuosu SIL', serif;
    font-size: 60px;
}
.bton {
    position: absolute;
    top: 15%;
    /* margin-top: -25px; */
}

.description {
    font-size: 30px;
    margin-top: 60px;
}
/* From uiverse.io by @alexmaracinaru */
.acta {
    position: relative;
    margin-top: 60px;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .acta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #daa467;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .acta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
   }
   
   .acta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .acta:hover:before {
    width: 100%;
    background: #daa467;
   }
   
   .acta:hover svg {
    transform: translateX(0);
   }
   
   .acta:active {
    transform: scale(0.95);
   }