.Home {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/705/240/non_2x/background-of-dog-paw-prints-vector.jpg);
    /* background-size: 40% cover;
    background-position: center center;
    width: 100%;
    /* background-position-y: bottom;
    background-repeat: no-repeat; */
    /* height: 100vh; */
    height: 1700px;
    margin-right: 0;
}

.ContainerFunctions {
    display: inline;
}

.ContainerFunctions h1{
    display: inline;
}

.LineOne {
    display: flex;
    justify-items: center;
    /* justify-content: center; */
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0;
    
  }
  .eachOne {
    padding: 10px;
    margin: 0 150px 0 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .LineTwo {
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .EachOneLineTwo {
    padding: 10px;
    margin: 0 30px 0 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .pag {
    margin-left: 150px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 50px;
    justify-content: center;
  }
  /* ESTILOS PARA EL LOADING : https://uiverse.io/detail/Z-C-Code/grumpy-stingray-26
/* ------------------------INIT BUTTON RELOAD ----------------------------- */
/* ESTILOS DESDE: https://uiverse.io/detail/menezes11/afraid-lizard-67
/* From uiverse.io by @menezes11 */
.buttonReload {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#03a9f4,f441a5);
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   .buttonReload:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   .buttonReload span {
    position: absolute;
   }
   
   .buttonReload span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   .buttonReload:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .buttonReload span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .buttonReload:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .buttonReload span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .buttonReload:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .buttonReload span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .buttonReload:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .buttonReload:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .buttonReload:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   /* ------------------------END BUTTON RELOAD ----------------------------- */

   /* ------------------------INIT BUTTON CREATE ----------------------------- */
   /* ESTILOS DESDE: https://uiverse.io/detail/kirzin/selfish-kangaroo-64
/* From uiverse.io by @kirzin */
.buttonCreate {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   .buttonCreate:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .buttonCreate:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   .buttonCreate:hover::before {
    filter: blur(20px);
   }
   
   .buttonCreate:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }
   /* ------------------------END BUTTON CREATE ----------------------------- */
   
   /* ------------------------INIT SEARCH BAR ----------------------------- */
   
   .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}
.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: nnoe;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus {
  background-color: #f0eeee;
}
/* ------------------------END SEARCH BAR----------------------------- */
/* ------------------------INIT LOADER ------------------------------- */
.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    position: absolute;
    top: 75%;
    left: 60%;
    margin: -200px 0 0 -200px;
  }
  
  .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
   /* ------------------------INIT LOADER ------------------------------- */
